body,
html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
}

.address-list {
    background-color: #fff;
    border: 1px solid #000;
    max-height: 150px;
    margin-top: 10px;
    overflow-y: auto;
    padding: 5px;
}

.address-list li {
    cursor: pointer;
    padding: 5px;
}

.address-list li:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.address-list li:hover {
    background-color: #f0f0f0;
}

.auth-card {
    border: 2px solid #000;
    display: flex;
    flex-direction: column;
    height: 600px;
    margin: 0;
    padding: 20px;
    width: 600px;
}

.auth-card.login {
    height: 300px;
    margin: auto;
}

.auth-col {
    display: flex;
    flex: 0 0 60%;
    justify-content: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.auth-row {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.auth-title {
    margin-bottom: 15px;
    text-align: center;
}

.map-col {
    align-items: center;
    display: flex;
    flex: 0 0 40%;
    justify-content: center;
}

.map-container {
    border: 2px solid #000;
    height: 350px;
    width: 100%;
}

button {
    margin-top: 15px;
    width: 100%;
}